<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slbappxmly" >
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".Act">
            <intent-filter>
                <action android:name="hs.act.slbapp.XmlyAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
