<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slbappindex">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 在 屏幕最顶部显示addview-->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.example.slbappindex.IndexMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <!--android:launchMode="singleTask"-->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <intent-filter>
                <action android:name="hs.act.slbapp.index" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pop.PopGiftActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="hs.act.slbapp.PopGiftActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.slbappindex.welcome.WelComeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter android:autoVerify="true">
                <!-- action 和category 必须这样写！！！ -->
                <!--Intent intent = new Intent(Intent.ACTION_VIEW, Uri.parse("hxyd://act/welcome?system=pc&id=45464"));-->
                <!--startActivity(intent);-->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--协议部分-->
                <data
                    android:host="act"
                    android:path="/welcome"
                    android:scheme="hxsw" />
            </intent-filter>
            <intent-filter>
                <action android:name="hs.act.slbapp.welcome" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.slbappindex.fragment.fragment2.utils.DownloadServiceMp4"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="hs.act.slbapp.DownloadServiceMp4" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".fragment.fragment4.Fragment4SettingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.Fragment4SettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment4.settingnew1.Fragment4SettingActivityNew1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.Fragment4SettingActivityNew1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment4.Fragment4AboutActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.Fragment4AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vip.VipActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.VipActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vip.VipCodeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.VipCodeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order.dingdan.OrderActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.OrderActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order.OrderPayActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.OrderPayActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment4.Fragment4FankuiActivity"
            android:screenOrientation="portrait">
            <!--android:windowSoftInputMode="adjustResize|stateHidden"  adjustPan|stateHidden-->
            <intent-filter>
                <action android:name="hs.act.slbapp.Fragment4FankuiActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment1.mybookspart.BooksListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.BooksListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment1.historypart.HistoryListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.HistoryListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment1.tingshulistpart.ListenBooksListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.ListenBooksListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment1.tingshulistpart.detailpart2.ListenBooksListActivity2"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.ListenBooksListActivity2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment1.fenleiall.CategoryActivityAll"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.CategoryActivityAll" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment1.fenleilistpart.CategoryBooksListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.CategoryBooksListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment1.mybookslistpart.MyBooksListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.MyBooksListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragment1.allhuibenpart.MoreHuibenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.MoreHuibenActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fragment.fragment1.popcommpart.PopCommActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="hs.act.slbapp.PopCommActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.SearchListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="hs.act.slbapp.SearchListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--<receiver android:name=".broadcastreceiver.PackageReceiver">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash; 一个新应用包已经安装在设备上，数据包括包名（监听所在的app，新安装时，不能接收到这个广播） &ndash;&gt;-->
        <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
        <!--&lt;!&ndash; 一个新版本的应用安装到设备，替换之前已经存在的版本  替换时会先收到卸载的再收到替换的， 替换自身也能收到&ndash;&gt;-->
        <!--<action android:name="android.intent.action.PACKAGE_REPLACED" />-->
        <!--&lt;!&ndash; 一个已存在的应用程序包已经从设备上移除，包括包名（卸载监听所在的app，则无法接收到） &ndash;&gt;-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
        <!--<data android:scheme="package" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
    </application>
</manifest>
